apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: formation-lap
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: 404457776061.dkr.ecr.ap-northeast-2.amazonaws.com/chan-order-service:70d513e1d6a0909f48b259eeba55cee9685399c4
          ports:
            - containerPort: 8000
          env:
            - name: OTEL_SERVICE_NAME
              value: "order-service"
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "alloy-seoul-otlp.app-monitoring-seoul.svc.cluster.local:4317"
