apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: formation-lap
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: 404457776061.dkr.ecr.ap-northeast-2.amazonaws.com/order-service:2208aaa90b6118c9ebeef7e968d6f80272ed8ddd
          ports:
            - containerPort: 8000
