apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: formation-lap
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: 084375545045.dkr.ecr.ap-northeast-2.amazonaws.com/order-service:8cdd09762d61f2b7320dcb962f696ac3b8b4f2f7
          ports:
            - containerPort: 8000
          env:
            - name: OTEL_SERVICE_NAME
              value: "order-service"
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "alloy-seoul-otlp.app-monitoring-seoul.svc.cluster.local:4317"
