apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: formation-lap
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: product-service
          image: 084375545045.dkr.ecr.ap-northeast-2.amazonaws.com/product-service:7c0154fc4afe6995a33aab8a726907aa60166ef6
          ports:
            - containerPort: 8000
          env:
            - name: OTEL_SERVICE_NAME
              value: "product-service"
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "alloy-seoul-otlp.app-monitoring-seoul.svc.cluster.local:4317"
