apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: formation-lap
spec:
  replicas: 50
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: 404457776061.dkr.ecr.ap-northeast-2.amazonaws.com/user-service:latest
          ports:
            - containerPort: 8000
