apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: formation-lap
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: 404457776061.dkr.ecr.ap-northeast-2.amazonaws.com/chan-user-service:707f06535a8746c32288f0f6426320509cf49ba6
          ports:
            - containerPort: 8000
